body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(63, 63, 63, 0.726);
}

#gameCanvas {
    background-color: green;
    border: 1px solid black;
}
